
version: '3.8'
services:
  api:
    image: ongzhili/takehome1:latest
    ports:
      - "8080:3000"
    volumes:
      - ./storage:/app/storage
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api